.container {
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 15px;
}

a {
    text-decoration: none;
    display: inline-block;
}

.services {
    padding: 50px 0px 30px;
}

.services__top,
.news__top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;
}

.services__title-box,
.form__title-box,
.news__title-box {
    max-width: 520px;
    padding-left: 140px;
    position: relative;
}

.services__title-box:before,
.form__title-box:before,
.news__title-box:before {
    content: "";
    position: absolute;
    width: 100px;
    height: 2px;
    background-color: #ff7e22;
    left: 0;
    top: 11px;
}

.services__title,
.form__title,
.news__title {
    font-size: 24px;
    font-weight: 500;
    line-height: 24px;
    color: #212020;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 10px;
}

.services__text,
.form__text,
.news__text {
    letter-spacing: 0.1px;
}

.services__btn a,
.news__btn a {
    color: #373636;
    line-height: 24px;
    letter-spacing: 0.25px;
    padding: 7px 38px;
    border: 2px solid #020202;
    box-shadow: 0px 7px 24.3px 2.7px rgba(7, 7, 7, 0.14);
}

.services__items {
    display: flex;
    justify-content: space-between;
}

.services__item {
    max-width: 360px;
    text-align: center;
    padding: 30px 0px 30px;
    position: relative;
    min-height: 300px;
    background-color: #f9f9f9;
    box-shadow: 0px 7px 24.3px 2.7px rgba(7, 7, 7, 0.14);
}

.services__item-title {
    color: #212020;
    font-size: 18px;
    line-height: 24px;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
    padding: 24px 0;
    width: 350px;
}

.services__item-text {
    letter-spacing: 0.1px;
    padding: 0px 30px 30px;

}

.services__item-btn {
    position: absolute;
    bottom: 40px;
    left: 0;
    right: 0;
}

.services__item-btn {
    color: #373636;
}

.default-btn {
    color: #373636;
}

.services__item-btn {
    color: #373636;
}

.default-btn:after {
    color: #fff;
}

.services__item-link {
    color: #050505;
    font-family: 'Roboto', sans-serif;
    border-bottom: 1px solid #050505;
    margin-right: 60px;
}

.about {
    background-image: url(./img/about-fon.jpg);
    background-size: cover;
    background-position: center;
    min-height: 300px;
    background-repeat: no-repeat;
    padding: 25px 0px 45px;
}

.about__inner {
    max-width: 545px;
}

.about__title {
    padding: 10px 0px 25px;
    font-size: 24px;
    line-height: 24px;
    color: #fff;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
}

.about__text {
    margin-bottom: 30px;
    letter-spacing: 0.1px;
    line-height: 24px;
    color: #d3d2d2;
}

.about__btn .default-btn:after {
    color: #000;
}

.form {
    padding-top: 30px;
}

.form__inner {
    padding-bottom: 40px;
    background-image: url(./img/form-fon.png);
    min-height: 460px;
    background-repeat: no-repeat;
    background-position: bottom right;
}

.form__box {
    max-width: 850px;
    padding-top: 45px;
}

.form__box-inner {
    display: flex;
    justify-content: space-between;
}

.form__box-left {
    max-width: 260px;
    width: 100%;
}

.form__box-right {
    max-width: 555px;
    width: 100%;
}

.form__box-inner label,
.form__box-inner input,
.form__box-inner textarea {
    display: block;
    width: 100%;
}

.form__box-inner label {
    line-height: 36px;
    color: #282828;
    font-family: 'Roboto', sans-serif;
}

.form__box-inner input {
    margin-bottom: 8px;
    outline: none;
    height: 40px;
    border: 1px solid #e6e6e6;
    padding: 0px 10px;
}

.form__box-inner select {
    outline: none;
    padding-left: 17px;
}

.form__box-inner .jq-selectbox.jqselect {
    display: block;
    width: 100%;
}

.form__box-inner .jq-selectbox__select {
    height: 40px;
    border: 1px solid #e6e6e6;
    padding-left: 17px;
}

.form__box-inner .jq-selectbox__trigger-arrow:before {
    content: "\f105";
    font-family: 'icomoon';
    position: absolute;
    right: 17px;
    top: 0;
    transform: rotate(90deg);
}

.form__box-inner .jq-selectbox__dropdown {
    width: 100%;
    margin: 2px 0 0;
    padding: 0;
    border: 1px solid #e6e6e6;
    background: #FFF;
    box-shadow: 0 2px 10px rgba(0, 0, 0, .2);
}

.form__box-inner .jq-selectbox li {
    min-height: 18px;
    padding: 5px 17px 6px;
    color: #231F20;
}

.form__box-inner .jq-selectbox li.selected {
    background-color: #A3ABB1;
    color: #FFF;
}

.form__box-inner .jq-selectbox li:hover {
    background-color: #08C;
    color: #FFF;
}

.form__box-inner .jq-selectbox li.disabled {
    color: #AAA;
}

.form__box-inner .jq-selectbox li.disabled:hover {
    background: none;
}

.form__box-inner .jq-selectbox li.optgroup {
    font-weight: bold;
}

.form__box-inner .jq-selectbox li.optgroup:hover {
    background: none;
    color: #231F20;
    cursor: default;
}

.form__box-inner .jq-selectbox li.option {
    padding-left: 25px;
}

.form__box-inner textarea {
    outline: none;
    border: 1px solid #e6e6e6;
    padding: 10px;
    height: 208px;
    resize: none;
    margin-bottom: 40px;
}

.form__box-inner button {
    background-color: transparent;
    color: #282828;
    float: right;
}


.header__btn-menu {
    display: none;
    font-size: 28px;
}

.service_btn {
    color: #373636;
    line-height: 24px;
    letter-spacing: 0.25px;
    padding: 7px 38px;
    border: 2px solid #020202;
    box-shadow: 0px 7px 24.3px 2.7px rgba(7, 7, 7, 0.14);
    font-weight: 600;
    font-family: 'Roboto', sans-serif;
}
.about_company {
    position: absolute;
    left: 0; 
    right:  0; 
    top: 30%;
}


.about_company__title {
    padding: 10px 0px ;
    font-size: 26px;
    line-height: 28px;
    color: #fff;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
    width: 450px;
    text-align: center;
    text-shadow: 2px 2px 5px rgb(40, 39, 39);
    margin-left: auto;
    margin-right: auto;
}

.about_company__text {
    margin-bottom: 30px;
    letter-spacing: 0.1px;
    line-height: 22px;
    font-size: 18px;
    color: #fff;
    max-width: 410px;
    font-weight: 500;
    text-align: center;
    text-shadow: 2px 2px 5px rgb(40, 39, 39);
    margin-left: auto;
    margin-right: auto;
}
.service_btn_company {
    line-height: 24px;
    letter-spacing: 0.25px;
    padding: 7px 38px;
    border: 2px solid #020202;
    box-shadow: 0px 7px 24.3px 2.7px rgba(7, 7, 7, 0.14);
    font-weight: 600;
    font-family: 'Roboto', sans-serif;
    width: 270px;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    left: 0; 
    right:  0; 
}