.ClientStocks {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 30px;
}

.client_stocks_title {
    display: flex;
    flex-direction: row;
    width: 600px;
    justify-content: space-between;
    align-items: center;
    margin-left: 15%;
}

.client_stocks{
    width: 500px;
    margin-left: 15%;
}