.StockTransactions {
    padding: 30px;
    display: flex;
    flex-direction: column;
}

.stock_form {
    width: 700px;
}

.stock_transaction_header {
    width: 600px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
